MYSQL_DB=smart_agriculture
MYSQL_USER=root
MYSQL_PASSWORD=123456

PG_DB=agriculture_ai
PG_USER=postgres
PG_PASSWORD=123456

MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=minio_password_12345678
MINIO_BUCKET_NAME=agriculture

AL_API_KEY=sk-8f3c52bdf7a84aae8847a6a69cb51c20
