<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clj.mapper.EquipmentRepairApplyMapper">

    <resultMap id="BaseResultMap" type="com.clj.domain.EquipmentRepairApply">
            <id property="applyId" column="apply_id" />
            <result property="applicantId" column="applicant_id" />
            <result property="equipmentId" column="equipment_id" />
            <result property="faultDescription" column="fault_description" />
            <result property="applyTime" column="apply_time" />
    </resultMap>

    <sql id="Base_Column_List">
        apply_id,applicant_id,equipment_id,fault_description,apply_time
    </sql>
</mapper>
